a[role='button'],
button {
    color: var(--fg, var(--color-area));
    background: var(--bg, var(--color-fg));
    border: none;
    transition: var(--transition, all 0.3s);
    font-family: var(--font-ui);
    font-weight: bold;
    border-radius: 0.8em;
    text-transform: uppercase;

    &:hover {
        translate: 0 -0.1em;
        border-radius: 1em;
    }
    &:active {
        translate: 0 0.2em;
        border-radius: 0.8em;
    }
    &:disabled {
        color: var(--theme-colors-dimmed);
        cursor: default;
        pointer-events: none;
        background-color: var(--theme-colors-area);
    }

    &.loading {
        cursor: default;
        pointer-events: none;
        filter: brightness(0.8);
    }

    /* padding should only be based on text not icons */
    & > svg {
        margin: -1rem 0;
        color: var(--fg, var(--color-area));
    }
}

a[role='button'].circle,
button.circle {
    height: var(--size, 2.5rem);
    width: var(--size, 2.5rem);
    padding: 0.3rem;
    border-radius: 50%;
    &:hover {
        border-radius: 50%;
        translate: none;
        scale: 1.05;
    }
    &:active {
        border-radius: 50%;
        translate: none;
        scale: 0.95;
    }
}

select {
    border-radius: 0.8em;
}

th,
td {
    border: 2px solid var(--color-border);
}
