@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-serif-pro?styles=20103,20100');

/* Theme */

:root {
    --font-ui: 'Outfit', sans-serif; /* The font that is mainly used on the website */
    --font-mono: 'Menlo', monospace; /* Used for code */
    --font-heading: 'Outfit', sans-serif; /* Used for titles and headings */
    --font-content: 'Source Serif Pro', serif; /* Used for longer text content like articles */
}

html[color-scheme='dark'] {
    --color-fg: #dddddd; /* The main neutral color used for important texts and icons */
    --color-muted: #aaaaaa; /* Similar to fg but for slightly less important texts */
    --color-bg: #161616; /* The main background color of the website */
    --color-area: #1e1e1e; /* Used for areas like cards to separate from the background */
    --color-border: #303030; /* A little more contrasted than area, used for smaller things like lines */
    --color-primary: #5292d2; /* The main color, usually your brand color it can be used for stuffs like links and buttons */
    --color-link-visited: #c690e8; /* Used for already visisted link, usually some kind of purple */
    --color-error: #e15757; /* Used for errors, usually some kind of red */
    --color-error-bg: #2d1d1d; /* Used to contrast with the  */

    /* Custom semantique colors */
    --color-quiz: #ffdf6b;
    --color-guide: #7ad3ce;
    --color-github: #eeeeee;
    --color-discord: #6c76ea;
    --color-upgrade: #e6b073;
    --color-exercise: #9dd357;
}

html[color-scheme='light'] {
    --color-fg: #292e3a; /* The main neutral color used for important texts and icons */
    --color-muted: #646484; /* Similar to fg but for slightly less important texts */
    --color-bg: #e0e5f2; /* The main background color of the website */
    --color-area: #ffffff; /* Used for areas like cards to separate from the background */
    --color-border: #c4c4df; /* A little more contrasted than area, used for smaller things like lines */
    --color-primary: #1c8ade; /* The main color, usually your brand color it can be used for stuffs like links and buttons */
    --color-link-visited: #9d53e2; /* Used for already visisted link, usually some kind of purple */
    --color-error: #d13434; /* Used for errors, usually some kind of red */
    --color-error-bg: #eac5c5; /* Used to contrast with the  */

    /* Custom semantique colors */
    --color-quiz: #f7bb25;
    --color-guide: #25d4cb;
    --color-github: #31363f;
    --color-discord: #5765f2;
    --color-upgrade: #d7a560;
    --color-exercise: #80c427;
}

/* Root */

body,
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: var(--font-ui);
    color: var(--color-fg);
    background-color: var(--color-bg);
}

/* Button */

a[role='button'],
button {
    color: var(--fg, var(--color-area));
    background: var(--bg, var(--color-fg));
    border: none;
    transition: var(--transition, all 0.3s);
    font-family: var(--font-ui);
    font-weight: bold;
    border-radius: 0.8em;
    text-transform: uppercase;

    &:hover {
        translate: 0 -0.1em;
        border-radius: 1em;
    }
    &:active {
        translate: 0 0.2em;
        border-radius: 0.8em;
    }
    &:disabled {
        color: var(--theme-colors-dimmed);
        cursor: default;
        pointer-events: none;
        background-color: var(--theme-colors-area);
    }

    &.loading {
        cursor: default;
        pointer-events: none;
        filter: brightness(0.8);
    }

    /* padding should only be based on text not icons */
    & > svg {
        margin: -1rem 0;
    }
}

a[role='button'] > svg,
button > svg,
a[role='button'].circle > svg,
button.circle > svg {
    color: var(--fg, var(--color-area));
}

a[role='button'].circle,
button.circle {
    height: var(--size, 2.5rem);
    width: var(--size, 2.5rem);
    padding: 0.3rem;
    border-radius: 50%;
    &:hover {
        border-radius: 50%;
        translate: none;
        scale: 1.05;
    }
    &:active {
        border-radius: 50%;
        translate: none;
        scale: 0.95;
    }
}

/* Select */

select {
    border-radius: 0.8em;
}

/* Tables */

th,
td {
    border: 2px solid var(--color-border);
}

/* Prose */

.prose {
    color: var(--color-muted);
    font-family: var(--font-content);
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .prose {
        font-size: 0.9em;
    }
}

.prose :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-fg);
    font-family: var(--font-heading);
}

.prose p {
    text-wrap: pretty;
}

.prose h2 {
    font-size: 2.2em;
    margin-block-end: 0.3em;
}

.prose h3 {
    font-size: 1.6em;
    margin-block-end: 0.2em;
}

.prose :is(h4, h5, h6) {
    color: red; /* should not be used */
}

.prose :is(p, ol, ul) {
    line-height: 1.7;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
}

.prose ul ul {
    font-size: 1em;
}

.prose strong {
    color: var(--color-fg);
}

.prose blockquote {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 0.9rem;
    border-left: 3px solid var(--color-fg);
}

.prose blockquote > p {
    font-style: italic;
    margin: 0;
}

.prose img {
    margin: 0.8rem auto;
    display: block;
    max-width: 100%;
}

.prose a {
    color: var(--color-primary);
}

.prose a:not([role='button']):visited {
    color: var(--color-link-visited);
}

.prose a:hover {
    filter: brightness(1.3);
}

.prose :is(h1, h2, h3, h4, h5, h6) a,
.prose :is(h1, h2, h3, h4, h5, h6) a:visited {
    color: var(--color-fg);
    text-decoration: none;
}

/* Code */

html[color-scheme='dark'] code,
html[color-scheme='dark'] pre {
    background-color: var(--color-area) !important;
}

html[color-scheme='dark'] code span {
    color: var(--shiki-dark) !important;
}

code {
    font-family: var(--font-mono);
    padding: 0.2em 0.4em;
    font-size: 0.8em;
    white-space: nowrap;
    border-radius: 0.5em;
    background-color: var(--color-area);
}

pre {
    font-family: var(--font-mono);
    padding: 1em;
    overflow: auto;
    font-size: 1.2em;
    line-height: 1.5;
    border-radius: 0.5em;
    background-color: var(--color-area);
}

pre code {
    padding: 0;
    white-space: pre;
}
